body{
width: 850px;
}
div.header{
position: relative;
color: white;
width: 850px;
}
img{
width: 850px;
}

h1.nasa{
color: white;
position: absolute;
text-align: center;
left: 300px;
top: 160px;
font-family: helvetica, arial, sans-serif;
font-size: 80px;
}
main{
display: flex;
flex-direction: row;
height: 324px;
background-color: lightgrey;
width: 850px;
justify-content: space-evenly;
line-height: 10px;
}
.div-3{
line-height: 10px;
}
h3{
font-family: dm sans medium 500;
}
button{
border: none;
color: black;
text-align: center;
color: white;
background-color: black;
}


